html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  /*vertically and horizontally center with margin: auto on child*/
  height: 100%;
  width: 100%;
  display: flex;
}

#game {
  height: min(100vh, 100vw); /*viewport height max or width max, whichever is smaller*/
  width: min(100vh, 100vw); /*viewport height max or width max, whichever is smaller*/
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.box {
  width: 100%;
}

.box:focus {
  background-color: khaki;
}

.playing-piece {
  height: 100%;
  width: 100%;
}